# This tests are run daily to check incompatibilties introduced by new versions of dependencies
name: Daily tsam tests
on: 
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Some Examples for cron syntax https://crontab.guru/examples.html
    # Schedules job at any point after 12 pm
    - cron:  '0 0 * * *'
    # Weekly after sunday
    # - cron: 0 0 * * 0

jobs:
  PythonAndOsTest:
    name: Test for Python ${{matrix.python-version}} on ${{matrix.os}}  
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest","ubuntu-20.04", "macos-latest","macos-13","macos-12", "windows-latest","windows-2019"]
        # os: ["ubuntu-latest"]
        python-version: [ "3.9", "3.10", "3.11", "3.12"]
        
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: ${{matrix.python-version}}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install pytest-cov
        pip install codecov
        pip install -r requirements.txt
        pip install --no-cache-dir -e .
        
    - name: Test with pytest
      working-directory: ./test/
      run: |
        pytest
        codecov

