on:
    workflow_dispatch:
        push: ["test_dependency_range_v_3_0"]
    pull_request:
        branches: ["master"]

jobs:
    TestPushCondaForgeDev:
        name: Test conda-forge development version on ${{ matrix.runner_tag }}
        strategy:
            fail-fast: false
            matrix:
                runner_tag:
                    ["self-hosted"]
                    # [
                    #     "ubuntu-latest",
                    #     "ubuntu-22.04",
                    #     "macos-latest",
                    #     "macos-15-intel",
                    #     "windows-latest",
                    #     "windows-2022",
                    # ]
                python_version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        uses: FZJ-IEK3-VSA/.github/.github/workflows/_run_single_conda_forge_test.yml@main
        with:
            runner_tag: ${{ matrix.runner_tag }}
            requirements_file_name: environement.yml
            examples_to_execute: "docs/source/examples_notebooks/aggregation_example.ipynb docs/source/examples_notebooks/aggregation_method_showcase.ipynb docs/source/examples_notebooks/aggregation_optiinput.ipynb docs/source/examples_notebooks/aggregation_representation.ipynb docs/source/examples_notebooks/aggregation_segmentation.ipynb docs/source/examples_notebooks/example_k_maxoids.ipynb docs/source/examples_notebooks/predefined_sequence_example.ipynb"
            multiprocessing_example_string: "-n auto"
            library_version: ${{ matrix.python_version }}
            dependency_position_env_file: "0"

    TestPushPyPIDev:
        name: Test PyPi development version on ${{ matrix.runner_tag }}
        strategy:
            fail-fast: false
            matrix:
                runner_tag:
                    ["self-hosted"]
                    # [
                    #     "ubuntu-latest",
                    #     "ubuntu-22.04",
                    #     "macos-latest",
                    #     "macos-15-intel",
                    #     "windows-latest",
                    #     "windows-2022",
                    # ]
        uses: FZJ-IEK3-VSA/.github/.github/workflows/_run_single_pypi_test.yml@main
        with:
            runner_tag: ${{ matrix.runner_tag }}
            # ipynb_example_folder: "examples"
            python_version: "3.13"
            optional_dependency_PyPI_tag: "[develop]"
            examples_to_execute: "docs/source/examples_notebooks/aggregation_example.ipynb docs/source/examples_notebooks/aggregation_method_showcase.ipynb docs/source/examples_notebooks/aggregation_optiinput.ipynb docs/source/examples_notebooks/aggregation_representation.ipynb docs/source/examples_notebooks/aggregation_segmentation.ipynb docs/source/examples_notebooks/example_k_maxoids.ipynb docs/source/examples_notebooks/predefined_sequence_example.ipynb"
            multiprocessing_example_string: "-n auto"
