on:
    workflow_dispatch:
    push:
        branches: ["test_dependency_range_v_3_0"]
    pull_request:
        branches: ["master"]

jobs:
    TestPushCondaForgeDev:
        name: Test conda-forge development version on ${{ matrix.runner_tag }}
        strategy:
            fail-fast: false
            matrix:
                runner_tag: ["self-hosted"]
                library_version:
                    [
                        "1.21.0",
                        "1.21.1",
                        "1.21.2",
                        "1.21.3",
                        "1.21.4",
                        "1.21.5",
                        "1.21.6",
                        "1.22.0",
                        "1.22.1",
                        "1.22.2",
                        "1.22.3",
                        "1.22.4",
                        "1.23.0",
                        "1.23.1",
                        "1.23.2",
                        "1.23.3",
                        "1.23.4",
                        "1.23.5",
                        "1.24.0",
                        "1.24.1",
                        "1.24.2",
                        "1.24.3",
                        "1.24.4",
                        "1.25.0",
                        "1.25.1",
                        "1.25.2",
                        "1.26.0",
                        "1.26.2",
                        "1.26.3",
                        "1.26.4",
                        "2.0.0",
                        "2.0.1",
                        "2.0.2",
                        "2.1.0",
                        "2.1.1",
                        "2.1.2",
                        "2.1.3",
                        "2.2.0",
                        "2.2.1",
                        "2.2.2",
                        "2.2.3",
                        "2.2.4",
                        "2.2.5",
                        "2.2.6",
                        "2.3.0",
                        "2.3.1",
                        "2.3.2",
                        "2.3.3",
                        "2.3.4",
                        "2.3.5",
                        "2.4.0",
                        "2.4.1",
                    ]
        uses: FZJ-IEK3-VSA/.github/.github/workflows/_run_single_conda_forge_test.yml@main
        with:
            runner_tag: ${{ matrix.runner_tag }}
            requirements_file_name: environment.yml
            examples_to_execute: "docs/source/examples_notebooks/aggregation_example.ipynb docs/source/examples_notebooks/aggregation_method_showcase.ipynb docs/source/examples_notebooks/aggregation_optiinput.ipynb docs/source/examples_notebooks/aggregation_representation.ipynb docs/source/examples_notebooks/aggregation_segmentation.ipynb docs/source/examples_notebooks/example_k_maxoids.ipynb docs/source/examples_notebooks/predefined_sequence_example.ipynb"
            multiprocessing_example_string: "-n auto"
            library_version: ${{ matrix.library_version }}
            dependency_position_env_file: "4"
            library_name: "numpy"
            multiprocessing_pytest_string: "-n auto"
