on:
  workflow_dispatch:
  pull_request:
    branches: ["develop"]

jobs:
  TestPullCondaForgeDev:
    name: Test development version on ${{ matrix.runner_tag }}
    strategy:
      fail-fast: false
      matrix:
        runner_tag: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python_version: ["3.10", "3.14"]
    uses: FZJ-IEK3-VSA/.github/.github/workflows/_run_single_conda_forge_test.yml@main
    with:
      runner_tag: ${{ matrix.runner_tag }}
      requirements_file_name: environment.yml
      examples_to_execute: "docs/source/examples_notebooks/aggregation_example.ipynb docs/source/examples_notebooks/aggregation_method_showcase.ipynb docs/source/examples_notebooks/aggregation_optiinput.ipynb docs/source/examples_notebooks/aggregation_representation.ipynb docs/source/examples_notebooks/aggregation_segmentation.ipynb docs/source/examples_notebooks/example_k_maxoids.ipynb docs/source/examples_notebooks/predefined_sequence_example.ipynb"
      library_name: "python"
      library_version: ${{ matrix.python_version }}
      dependency_position_env_file: "0"
  TestPullPyPIDev:
    name: Test PyPI development version on ${{ matrix.runner_tag }}
    strategy:
      fail-fast: false
      matrix:
        runner_tag: ["ubuntu-latest", "macos-latest", "windows-latest"]
    uses: FZJ-IEK3-VSA/.github/.github/workflows/_run_single_pypi_test.yml@main
    with:
      runner_tag: ${{ matrix.runner_tag }}
      examples_to_execute: "docs/source/examples_notebooks/aggregation_example.ipynb docs/source/examples_notebooks/aggregation_method_showcase.ipynb docs/source/examples_notebooks/aggregation_optiinput.ipynb docs/source/examples_notebooks/aggregation_representation.ipynb docs/source/examples_notebooks/aggregation_segmentation.ipynb docs/source/examples_notebooks/example_k_maxoids.ipynb docs/source/examples_notebooks/predefined_sequence_example.ipynb"
      python_version: "3.14"
      optional_dependency_PyPI_tag: "[develop]"
      additional_conda_forge_dependencies: "glpk"
  TestMinDependencies:
    strategy:
      fail-fast: false
      matrix:
        runner_tag: ["self-hosted"]
        dependencies:
          [
            { library_name: python, version: 3.10.0, yaml_position: 0 },
            { library_name: scikit-learn, version: 1.3.0, yaml_position: 2 },
            { library_name: pandas, version: 2.2.0, yaml_position: 3 },
            { library_name: numpy, version: 1.22.4, yaml_position: 4 },
            { library_name: pyomo, version: 6.4.3, yaml_position: 5 },
            { library_name: networkx, version: 2.5, yaml_position: 6 },
            { library_name: tqdm, version: 4.21.0, yaml_position: 7 },
            { library_name: highspy, version: 1.7.2, yaml_position: 8 },
          ]
    uses: FZJ-IEK3-VSA/.github/.github/workflows/_run_single_conda_forge_test.yml@main
    with:
      runner_tag: ${{ matrix.runner_tag }}
      requirements_file_name: environment.yml
      examples_to_execute: "docs/source/examples_notebooks/aggregation_example.ipynb docs/source/examples_notebooks/aggregation_method_showcase.ipynb docs/source/examples_notebooks/aggregation_optiinput.ipynb docs/source/examples_notebooks/aggregation_representation.ipynb docs/source/examples_notebooks/aggregation_segmentation.ipynb docs/source/examples_notebooks/example_k_maxoids.ipynb docs/source/examples_notebooks/predefined_sequence_example.ipynb"
      library_name: ${{ matrix.dependencies.library_name }}
      library_version: ${{ matrix.dependencies.version }}
      dependency_position_env_file: ${{ matrix.dependencies.yaml_position }}
