on:
  workflow_dispatch:
  push:
    branches: ["**"]

jobs:
  Lint:
    name: Lint with ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
      - name: Check Linter
        run: ruff check --output-format=github --config=pyproject.toml
      - name: Check Format
        run: ruff format --diff --config=pyproject.toml

  TestPushCondaForgeDev:
    name: Test conda-forge development version on ${{ matrix.runner_tag }}
    strategy:
      fail-fast: false
      matrix:
        runner_tag: ["ubuntu-latest"]
    uses: FZJ-IEK3-VSA/.github/.github/workflows/_run_single_conda_forge_test.yml@main
    with:
      runner_tag: ${{ matrix.runner_tag }}
      requirements_file_name: requirements_dev.yml
      # ipynb_example_folder: "examples"
      examples_to_execute: "examples/aggregation_example.ipynb examples/aggregation_method_showcase.ipynb examples/aggregation_optiinput.ipynb examples/aggregation_representation.ipynb examples/aggregation_segmentation.ipynb examples/example_k_maxoids.ipynb examples/predefined_sequence_example.ipynb"
      multiprocessing_example_string: "-n auto"
  TestPushPyPIDev:
    name: Test PyPi development version on ${{ matrix.runner_tag }}
    strategy:
      fail-fast: false
      matrix:
        runner_tag: ["ubuntu-latest"]
    uses: FZJ-IEK3-VSA/.github/.github/workflows/_run_single_pypi_test.yml@main
    with:
      runner_tag: ${{ matrix.runner_tag }}
      # ipynb_example_folder: "examples"
      python_version: "3.13"
      optional_dependency_PyPI_tag: "[develop]"
      examples_to_execute: "examples/aggregation_example.ipynb examples/aggregation_method_showcase.ipynb examples/aggregation_optiinput.ipynb examples/aggregation_representation.ipynb examples/aggregation_segmentation.ipynb examples/example_k_maxoids.ipynb examples/predefined_sequence_example.ipynb"
      multiprocessing_example_string: "-n auto"
